.rounded-circle {
    width: 100%;
    object-fit: cover;
  }
  
  @media (min-width: 576px) {
    .rounded-circle {
      width: 48px;
    }
  }
  
  .btn {
    width: 100%;
  }
  
  @media (min-width: 576px) {
    .btn {
      width: auto;
    }
  }
  
  /* Center the content for smaller screens */
  @media (max-width: 575px) {
    .row > .col-2, .row > .col-8 {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  