.truncate {
    max-width: 70%; /* Maximum width */
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Hide the overflowing text */
    text-overflow: ellipsis; /* Show ellipsis when the text overflows */
  }
  
  .row {
    display: flex; /* Flexbox layout for the row */
  }
  
  .col-8, .col-sm-7 {
    flex: 1; /* Make the column take up all available space */
    min-width: 0; /* This is necessary for the truncation to work in a flexbox layout */
  }
  
.rounded-circle {
    width: 100%;
    object-fit: cover;
  }
  
  @media (min-width: 576px) {
    .rounded-circle {
      width: 48px;
    }
  }
  